<div th:fragment="menu" class="fixed left-0 top-0 bottom-0 w-64 bg-gray-800 text-white overflow-y-auto shadow-lg">
    <div class="p-4 border-b border-gray-700">
        <a th:href="@{/}" class="block mb-2">
            <img th:src="@{/enquiry.png}" alt="Company Logo" class="max-w-full h-auto" />
        </a>
        <a th:href="@{/}" class="text-xs text-gray-400 hover:text-white transition-colors duration-200">QueryConnects</a>
    </div>

    <nav class="mt-4">
        <div class="px-2 py-1">
            <p class="text-2xl font-bold">Welcome, <span th:text="${username}"></span></p>
        </div>
        <div class="px-4 py-2">
            <h2 class="text-lg font-semibold mb-2 text-gray-400">Enquiry</h2>
            <a th:href="@{/}" class="block py-2 px-4 text-sm hover:bg-gray-700 rounded transition-colors duration-200">Add Enquiry</a>
            <a th:href="@{/enq-list}" class="block py-2 px-4 text-sm hover:bg-gray-700 rounded transition-colors duration-200">List Enquiry</a>
        </div>

        <div class="px-4 py-2 mt-4">
            <h2 class="text-lg font-semibold mb-2 text-gray-400">Institute</h2>
            <a th:href="@{/institute-form}" class="block py-2 px-4 text-sm hover:bg-gray-700 rounded transition-colors duration-200">Add Institute</a>
            <a th:href="@{/institute-list}" class="block py-2 px-4 text-sm hover:bg-gray-700 rounded transition-colors duration-200">Institute List</a>
        </div>

        <div class="px-4 py-2 mt-4">
            <h2 class="text-lg font-semibold mb-2 text-gray-400">Masters</h2>
            <a th:href="@{/sources}" class="block py-2 px-4 text-sm hover:bg-gray-700 rounded transition-colors duration-200">Enquiry Source</a>
            <a th:href="@{/courses}" class="block py-2 px-4 text-sm hover:bg-gray-700 rounded transition-colors duration-200">Courses</a>
        </div>

        <div class="px-4 py-2 mt-2">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="rounded-md bg-red-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2">Logout</button>
            </form>
        </div>
    </nav>
</div>